*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background: hsl(257, 40%, 49%);
  Height:100vh;
  font-family: 'Open Sans', sans-serif;
}
.container{
  background: url('./images/bg-desktop.svg')no-repeat center center/cover;
  Height:100%;
  padding-left: 74px;
}
.header{

  margin-top: 58px;

}
.header img{
  )
}
.info{
  display: flex;
  flex-direction: row;
  position: relative;
}
.info .img-mockups{

  margin-top: 65px;
}
.info .img-mockups img{
  height:500px;
}
.info .form{
  margin-left:62px;
  margin-top:100px;
}
.info .form h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color:white;
  font-size:32px;
  margin-bottom: 30px;

}
.info .form p{
  font-family: 'Open Sans',sans-serif;
  color:white;
}
.btn{
  padding:20px 60px;
  color:hsl(257, 40%, 49%);
  background:#fff;
  font-size: 20px;
  margin-top: 30px;
  border: solid #fff 1px;
  border-radius: 50px;
  font-family:  'Open Sans',sans-serif;
  cursor: pointer;
}
.btn:hover{
  background: hsl(257, 40%, 49%);
  color:#fff;
}
.tag{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  position:absolute;
  bottom:0;
  right:0;
}
.tag ul{
  display:flex;
}
.tag ul li{
  margin:20px;
  list-style: none;
  border:solid 5px #fff;
  padding:10px;
  border-radius: 50%;
}
footer p,
footer a{
  text-align: center;
  color:#fff;
}
footer p{
  margin:15px;
}
